<!DOCTYPE html>
<html>
<head>
	<title>发布新需求</title>
	    <link rel="stylesheet" type="text/css" href="../public/css/createwant.css" />
	    <script language="JavaScript" src="../public/js/createwant.js"></script>
</head>
<body>
	<form>
		<div class="div_flex"><label class="div_label">标题</label><input type="text" name="title"></div>
		<div class="div_flex"><label class="div_label">描述</label><input type="text" name="des"></div>
		<div class="div_flex"><label class="div_label">建筑面积</label><input type="text" name="area"></div>
		<div class="div_flex"><label class="div_label">预算</label><input type="text" name="price"></div>
		<button id="createwant">提交新需求</button>
	</form>
</body>
</html>