<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <script language="JavaScript" src="../public/js/jquery-3.2.1.min.js"></script>
    <script language="JavaScript" src="../public/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
</head>

<body>
    <div>
        <table id="top_bar" width="100%">
            <tr>
                <th width="70%" id="user_index">欢迎来到礼物会</th>
                <th><a href="#" class="quit">退出</a></th>
                <th><a href="#">帮助中心</a></th>
                <th>手机商城</th>
                <th>咨询热线</th>
            </tr>
        </table>
    </div>
    <div class="htmleaf-container">
        <div id="wrapper" class="login-page">
            <div id="login_form" class="form">
                <form class="register-form">
                    <table>
                        <tr>
                            <th>用户名：</th>
                            <th>
                                <input type="text" name="name" placeholder="请输入用户名" id="r_user_name">
                            </th>
                        </tr>
                        <tr>
                            <th>请设置密码：</th>
                            <th>
                                <input type="password" name="pwd1" placeholder="密码" id="r_password">
                            </th>
                        </tr>
                        <tr>
                            <th>请确认密码：</th>
                            <th>
                                <input type="text" name="pwd2" placeholder="再次密码" id="r_password2">
                            </th>
                        </tr>
                        <tr>
                            <th>请选择你需要的服务：</th>
                            <th>
                                <select class="select_type">
                                    <option selected="selected" value="0">户主</option>
                                    <option value="1">装修工程师</option>
                                    <option value="2">设计师</option>
                                </select>
                            </th>
                        </tr>
                        <!--    <tr>
    <th>验证码：</th><th><input type="text" name="code" placeholder="请输入验证码"/></th><th><div><img id="verify_img" src="{:captcha_src()}" alt="captcha"  onclick="refreshVerify()"/><a href="javascript:refreshVerify()">点击刷新</a></div>
</div></th>
  </tr> -->
                        <!-- <tr>
    <th>短信验证码：</th><th><input type="text" name="phonecode" placeholder="短信验证码"/></th><th><button id="getphonecode">获取验证码</button></th>
  </tr> -->
                    </table>
                    <button type="submit" id="create">创建账号</button>
                    <p class="message">已经有了一个账户? <a href="#">立刻登录</a></p>
                </form>
                <form class="login-form">
                    <input type="text" name="username" placeholder="用户名" id="user_name">
                    <input type="password" name="password" placeholder="密码" id="password">
                    <button id="login">登 录</button>
                    <p class="message" id='toregister'>还没有账户? <a href="#">立刻创建</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>