<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/personalcenter.css" />
    <script language="JavaScript" src="../public/js/login.js"></script>
    <title>个人中心</title>
</head>

<body>
    <header>
        <p id="user_name">用户名<a href="#">发布新需求</a></p>
    </header>
    <div id="context">
        <nav>
            <ul>
                <li>我的订单</li>
                <li>我的订单</li>
                <li>我的订单</li>
                <li>我的订单</li>
            </ul>
        </nav>
        <main></main>
        <aside></aside>
    </div>
    <footer></footer>
</body>

</html>