@charset "utf-8";
.nxdbLayer{font-size: 12px;width:530px; padding:10px; margin:0 auto; background:#fff; margin-bottom:20px;}
.nxdbLayer470{font-size: 12px;width:470px; padding:5px; margin:0 auto; background:#fff; margin-bottom:20px;}
.nxdbLayerTitle{height:32px; padding:0 15px; background:url(../i/nxdbLayerTitle.jpg); overflow:hidden;}
.nxdbLayerTitle h3{ float:left; color:#FFF; font-size:14px; line-height:32px;}
.nxdbLayerClose{width:20px; height:18px; display:block; background:url(../i/nxdbLayerClose.jpg); cursor:pointer; float:right; margin-top:8px;}
.nxdbLayerText{padding:10px; font-size:14px; line-height:30px;color:#666; }
.nxdbLayerTable{ margin:0 auto 10px;}
a:link.nxdbLayerZbxg,a:hover.nxdbLayerZbxg,a:visited.nxdbLayerZbxg,a:active.nxdbLayerZbxg{ font-size:14px; color:#09417C; text-decoration:underline;}
a:link.nxdbLayerButton1,a:hover.nxdbLayerButton1,a:visited.nxdbLayerButton1,a:active.nxdbLayerButton1{width:98px; height:30px; display:block; color:#FFF; text-align:center; font-size:14px; line-height:30px; font-weight:bold; background:url(../i/nxdbLayerButton1.jpg);}
a:hover.nxdbLayerButton1{background:url(../i/nxdbLayerButton2.jpg);}
a:link.nxdbLayerQx,a:hover.nxdbLayerQx,a:visited.nxdbLayerQx,a:active.nxdbLayerQx{width:98px; height:30px; display:block; color:#666; text-align:center;font-size:14px; line-height:30px; font-weight:bold; background:url(../i/nxdbLayerButton3.jpg);}
a:hover.nxdbLayerQx{background:url(../i/nxdbLayerButton4.jpg);}
.nicheng{ height:30px; font-size:14px; line-height:30px; color:#666; font-weight:bold; padding-left:10px;}
.newNc{width:190px;height:26px; line-height:26px; border:solid 1px #cdcdcd; color:#666;}
.buzaitishi{padding:0 10px 15px;}
.buzaitishiText{color:#666; padding-bottom:15px;}
.xinnichengtishi{ position:relative;}
#tips_bz{width:183px;background:url(../i/tishidiv.gif); position:absolute; left:280px; top:0px;}
.tips_bzText{ padding:5px 15px 0; line-height:20px; color:#666;}
.tips_bzB{background:url(../i/tishidiv.gif) left bottom no-repeat scroll; height:5px;}
.nxdbLayershouji{width:454px; padding-top:10px; background:url(../i/shoujibg.jpg) left top scroll no-repeat; margin:0 auto 15px;}
.nxdbLayershoujiB{background:url(../i/shoujibg.jpg) left bottom scroll no-repeat; height:10px;}
.nxdbLayershoujiTitle{height:24px; padding:0 15px 0 25px; font-size:14px; color:#1E6593; margin:0 15px; background:url(../i/shoujin1.jpg) left top scroll no-repeat; line-height:24px; font-weight:bold;}
.dianxinshang{font-size:14px; color:#666;padding:5px 15px; line-height:28px;}
.dianxinshang a:link,.dianxinshang a:hover,.dianxinshang a:active,.dianxinshang a:visited{font-size:14px;color:#1E6593; text-decoration:underline; margin-right:15px;}
.duanxin{font-size:14px; color:#666; padding:0 10px 0 40px; line-height:30px;}
a:link.dswrong,a:hover.dswrong,a:visited.dswrong,a:active.dswrong{color:#1E6593;text-align:center;font-size:12px; line-height:30px;text-decoration:underline; }
.duanxin span{ font-size:12px;}
.cssz{color:#F60; font-weight:bold; margin:0 5px;}
.srpassword{width:145px; height:22px; border:none; background:url(../i/mimainput.jpg);color:#666;padding:0 5px; line-height:22px;}
a:link.quedinganniu,a:hover.quedinganniu,a:visited.quedinganniu,a:active.quedinganniu{width:80px; height:24px; display:block; background:url(../i/quedingbutton.jpg); font-size:14px; line-height:22px; text-align:center;color:#Fff; font-weight:bold;}
.zxzfdiv{width:454px; padding-top:10px;  margin:0 auto 15px;}
.zxzfdivTitle{height:24px; padding:0 15px 0 25px; font-size:14px; color:#666; margin:0 15px; background:url(../i/shoujin2.jpg) left top scroll no-repeat; line-height:24px;}
.sczpTitle{color:#000; font-weight:bold; padding:30px 10px 0px;}
.scpicdizhi{padding:10px;}
.zhaipinnum{ font-size:12px; color:#666;}
.scpicdizhi td{ height:30px; line-height:30px;}
a:link.manshen,a:hover.manshen,a:visited.manshen,a:active.manshen{width:148px; height:30px; display:block; color:#666; text-align:center;font-size:14px; line-height:30px; font-weight:bold; background:url(../i/nxdbLayerButton5.jpg);}
a:hover.manshen{background:url(../i/nxdbLayerButton6.jpg);}
a:link.kuaishen,a:hover.kuaishen,a:visited.kuaishen,a:active.kuaishen{width:148px; height:30px; display:block; color:#fff; text-align:center;font-size:14px; line-height:30px; font-weight:bold; background:url(../i/rr2.jpg) 0 0 no-repeat;}
a:hover.kuaishen{background:url(../i/rr2.jpg) 0 -30px no-repeat;}
a:link.gengduozp,a:hover.gengduozp,a:visited.gengduozp,a:active.gengduozp{width:50px; height:24px; display:block; background:url(../i/gengduo.jpg) left center no-repeat scroll; font-size:12px; line-height:24px; text-align:center;color:#1E6593; text-decoration:underline; }
.wxts{ padding:10px 0 10px 10px; color:#666; line-height:24px;}
a:link.zheli,a:hover.zheli,a:visited.zheli,a:active.zheli{color:#1E6593; text-decoration:underline; }

.fense{color:#DC4183;}