#left_content {
	float: left;
	width: 16%;
	background-color: white;
}

#content {
	margin: 0px 1%;
	border: 1px gray solid;
	float: left;
	width: 68%;
	padding: 10px;
	background-color: white;
}

#right_content {
	width: 14%;
	float: left;
	background-color: white;
}

#clear {
	clear: both;
}

footer {
	margin-top: 20px;
    background-color: gray;
    color: blue;
    text-align: center;
}