#left_content {
	float: left;
	width: 16%;
	border: 1px gray solid;
	background-color: white;
	padding: 4px;
}

#content {
	margin: 0px 1%;
	border: 1px gray solid;
	float: left;
	width: 68%;
	padding: 10px;
	background-color: white;
}

#right_content {
	padding: 2px;
	width: 14%;
	float: left;
	border: 1px gray solid;
	background-color: white;
}

#clear {
	clear: both;
}

footer {
    background-color: gray;
    color: red;
    text-align: center;
}