.container {
	width: 100%;
}
header {
	height: 3em;
	background-color: gray;
	text-align: center;
	display: block;
	padding: 0px;
}

header ul {
	display: hidden;
}

header li {
	float: left;
	width: 100px;
	list-style-type: none;
}

header a {
	text-decoration: none;
	background-color: gray;
}

#nav {
	margin-top: 10px;
	background-color: gray;
	width: 160px;
}

#nav img {
	display: block;
}

#nav div {
	display: block;
}

.user_descripiton {
	padding: 10px;
	margin-top: 10px;
	color: blue;
}

