.container {
	width: 100%;
}
header {
	height: 40px;
	background-color: gray;
	display: block;
}

header ul {
	display: hidden;
	padding: 10px 10px;

}

header li {
	float: left;
	
	list-style-type: none;
}

header a {
	padding: 0px 20px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	background-color: gray;
	color: red;
}

#nav {
	margin-top: 10px;
	background-color: gray;
	width: 160px;
}

img {
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
}

#nav div {
	display: block;
}

.user_descripiton {
	padding: 10px;
	margin-top: 10px;
	color: blue;
}

