.welcome_left_content {
	padding: 10px;
}

.content a {
	margin: 0px 20px;
	float: left;
	width: 20%;
	height: 500px;
}

.nav_bottom {
	margin-top: 10px;
	border-top: 1px gray solid;
}

.paginate {
	text-align: center;
	width: 200px;
	margin-left: 20px;
	clear: both;
}

#search_head {
	float: left;
	width: 100%;
	margin: 10px 0px;
}

.sub_head {
	margin: 0px 10px;
	float: left;
}

.sub_head a {
	height: 30px;
	background-color: blue;
	padding: 4px 10px;
	width: 50px;
	float: left;
	display: inline;
}

.user_div img {
	width: 100px;
	height: 100px;
}

#content_area {
	float: left;
	height: 600px;
}

.user_div {
	background: gray;
	width: 120px;
	float: left;
}

