* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 960px;
    max-width: 1960px;
    margin: 0 auto;
}

header {
    background-color: gray;
    padding: 12px;
    height: 2em;
}

header ul {
    float: right;
    width: 300px;
}

header li {
    list-style-type: none;
    float: left;
}

header li a {
    text-decoration: none;
    padding: 0px 10px;
    color: #fff;
}

header li a:hover {
    color: blue;
}

footer {
    clear: both;
    background-color: gray;
    padding: 10px;
    text-align: center;
}

footer p {
    color:red;
}

footer nav {

}

footer li {
    list-style-type: none;
    float: left;
}

#context nav {
    display: table-cell;
    width: 100px;
    background-color: gray;
    padding: 0px 10px;
}

#context nav ul {
}

#context nav ul li {
    list-style-type: none;
    padding: 10px 0px;
}

#context main {
    display: table-cell;
    margin: 10px 10px;
}

#context aside {
    display: table-cell;
    width: 160px;
    background-color: gray;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }

main #table_demand {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}
