* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    min-width: 960px;
    max-width: 1260px;
    margin: 0 auto;
}

header {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

footer {
    clear: both;
    background-color: gray;
    padding: 10px;
    text-align: center;
}

header p a {
    float: right;
    margin-right: 20px;
}

#context nav {
    float: left;
    width: 100px;
}

#context main {
    float: left;
    width: 800px;
    background-color: gray;
}

aside {
    float: left;
    width: 360px;
    background-color: gray;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }

 main #table_demand {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
 }
